{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam", ".cl_test/*"]}.

{cover_enabled, true}.

{eunit_opts, [no_tty, {report, {eunit_progress, [colored, profile]}}]}.

{validate_app_modules, true}.

{deps,
  [
   %% public
   {cowboy,
    ".*", {git, "git://github.com/ninenines/cowboy", {tag, "1.1.2"}}},

   {jsone,
    ".*",  {git, "git://github.com/sile/jsone", {tag, "1.2.1"}}},

   {hackney,
    ".*", {git, "git://github.com/benoitc/hackney", {tag, "1.1.0"}}},

   {eunit_formatters,
       ".*", {git, "git://github.com/seancribbs/eunit_formatters", "2c73eb6e46b0863f19507857b386a48a53aaf141"}}

  ]
}.
