{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.
            %% ,warn_untyped_record]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.

{cover_enabled, true}.

{validate_app_modules, true}.

{deps,
  [
   %% public
   {cowboy,
    ".*", {git, "git@github.com:extend/cowboy.git", {branch, "master"}}},

   {jsonx,
    ".*", {git, "git@github.com:iskra/jsonx.git", {branch, "master"}}},

   {hackney,
    ".*", {git, "git@github.com:benoitc/hackney.git", {tag, "0.10.1"}}},

   %% test
   {meck,
    ".*", {git, "git@github.com:eproxus/meck.git", {tag, "0.8.1"}}}

  ]
}.
