{erl_opts, [{i, "src"},
            warnings_as_errors,
            warn_export_all,
            warn_unused_import]}.
            %% ,warn_untyped_record]}.

{xref_checks, [fail_on_warning, undefined_function_calls]}.

{clean_files, [".test/*.beam", ".eunit/*", "ebin/*.beam"]}.

{cover_enabled, true}.

{validate_app_modules, true}.

{deps,
  [
   %% public
   {cowboy,
    ".*", {git, "git://github.com/extend/cowboy", {tag, "0.9.0"}}},

   {jsonx,
    ".*", {git, "git://github.com/iskra/jsonx", {branch, "master"}}},

   {hackney,
    ".*", {git, "git://github.com/benoitc/hackney", {tag, "0.11.1"}}},

   %% test
   {meck,
    ".*", {git, "git://github.com/eproxus/meck", {tag, "0.8.1"}}}

  ]
}.
